{% load static %}
<div class="row question">
    <div class="col-3">
      <img src="{% static '/img/book.jpeg' %}" alt="FirstQuestionImg" class="p-1 question-image">
      <div class="p-1 row justify-content-center">
        <div class="col-3 align-self-center">
          <span>Доступно: {{ book.raiting }}</span>
        </div>
      </div>
    </div>
    <div class="col-9 d-flex flex-column position-static">
      <div class="question-title mb-1">
        {{ book.title }}
      </div>
      <div class="question-text text-truncate mb-auto">
        {{ book.content }}
      </div>
      <div class="row align-items-end">
        <div class="col-8 mb-2">
      Author: {{ book.author }}
    </div>
    <div class="col-4 mb-2">
        <a class="btn btn-outline-danger btn-sm" href={% url 'delete_book' book_id=book.id %} type="submit">Delete!</a>
    </div>
</div>
        <div class="row align-items-end">
          
          <div class="col-8 mb-2">
            Жанр: 
            {{ book.genres }}
          </div>
        </div>
    </div>
  </div>